@model List<Session6Instagram.Models.Photo>

@{
    ViewBag.Title = "Feed";
}

<h2>Feed</h2>

@foreach (var photo in Model)
{

    using (var ms = new MemoryStream(photo.Picture))
    {
        var image = System.Drawing.Image.FromStream(ms);

        var ratioX = (double)300 / image.Width;
        var ratioY = (double)250 / image.Height;
        var ratio = Math.Min(ratioX, ratioY);

        var width = (int)(image.Width * ratio);
        var height = (int)(image.Height * ratio);

        var newImage = new System.Drawing.Bitmap(width, height);
        System.Drawing.Graphics.FromImage(newImage).DrawImage(image, 0, 0, width, height);
        System.Drawing.Bitmap bmp = new System.Drawing.Bitmap(newImage);

        System.Drawing.ImageConverter converter = new System.Drawing.ImageConverter();

        photo.Picture = (byte[])converter.ConvertTo(bmp, typeof(byte[]));

      //  return "data:image/*;base64," + Convert.ToBase64String(photo.Picture);
    }





    var base64 = Convert.ToBase64String(photo.Picture);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
<div class="post">
    <img src="@imgSrc" />





    <p>@photo.Caption</p>

    <p>Image by: @photo.PhotoUser.Name</p>
    <p>Uploaded On: @photo.Date</p>
</div>
}