@model List<Session6Instagram.Models.User>

@{
    ViewBag.Title = "UploadPhoto";
}

<h2>UploadPhoto</h2>

<form action="savephoto" method="post" enctype="multipart/form-data">
    
    <input type="file" accept="image/x-png, image/gif, image/jpeg" name="photo" />
    <input type="text" name="caption" />
    <button type="submit">Done!</button>
</form>
